In [2]:
# Import data & libraries #
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
## Python shortcut to folder path ##
path = r'C:\Users\hazem\01-2023 Instacart Basket Analysis - Master Folder'

In [4]:
df_insta_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'Instacart_merged.pkl'))

In [5]:
df_insta_merge.shape

(32404859, 30)

In [6]:
df_insta_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,average_price,spending_flag,median_of_prior_orders,order_frequency_flag,Gender,State,Age,date_joined,dependants,Annual_income
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,6.935811,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,6.935811,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,6.935811,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,6.935811,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,6.935811,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620

# Create a regional segmentation of the data. a “Region” column based on the “State” column from your customers data set.

In [7]:
# Checking value counts for the state column
df_insta_merge['State'].value_counts()

Pennsylvania            667082
California              659783
Rhode Island            656913
Georgia                 656389
New Mexico              654494
Arizona                 653964
North Carolina          651900
Oklahoma                651739
Alaska                  648495
Minnesota               647825
Massachusetts           646358
Wyoming                 644255
Virginia                641421
Missouri                640732
Texas                   640394
Colorado                639280
Maine                   638583
North Dakota            638491
Alabama                 638003
Kansas                  637538
Louisiana               637482
Delaware                637024
South Carolina          636754
Oregon                  636425
Arkansas                636144
Nevada                  636139
New York                635983
Montana                 635265
South Dakota            633772
Illinois                633024
Hawaii                  632901
Washington              632852
Mississippi             632675
Kentucky                632490
Michigan                630928
Florida                 629027
Ohio                    628319
Wisconsin               628108
New Jersey              627692
Indiana                 627282
Maryland                626579
Nebraska                625813
Iowa                    625493
Connecticut             623022
Tennessee               617873
New Hampshire           615378
District of Columbia    613695
West Virginia           612296
Utah                    611941
Vermont                 611725
Idaho                   607119
Name: State, dtype: int64

# Creating Regions based on states distribution #

In [8]:
Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']

In [9]:
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [10]:
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky',
'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

In [11]:
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

# Return all regions into 'region' column #

In [12]:
df_insta_merge.loc[df_insta_merge['State'].isin(Northeast), 'region'] = 'Northeast'

In [13]:
df_insta_merge.loc[df_insta_merge['State'].isin(Midwest), 'region'] = 'Midwest'

In [14]:
df_insta_merge.loc[df_insta_merge['State'].isin(South), 'region'] = 'South'

In [15]:
df_insta_merge.loc[df_insta_merge['State'].isin(West), 'region'] = 'West'

## Checking 'region' column

In [16]:
df_insta_merge.shape

(32404859, 31)

In [17]:
df_insta_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,spending_flag,median_of_prior_orders,order_frequency_flag,Gender,State,Age,date_joined,dependants,Annual_income,region
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620,Midwest
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620,Midwest
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620,Midwest
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620,Midwest
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,8/1/2019,1,49620,Midwest

In [18]:
df_insta_merge['region'].value_counts()

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: region, dtype: int64

## Determine whether there’s a difference in spending habits between the different U.S. regions ##

In [19]:
# Creating crosstab according to region and spending flag
crosstab = pd.crosstab(df_insta_merge['region'], df_insta_merge['spending_flag'], dropna = False)

In [20]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

#Low spenders has the majority over all regions (South region the highest)#

In [21]:
# export data set as a pickle file #
df_insta_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'Instacart_merged.pkl'))