# Importing Data , Libraries & Data sets #

In [1]:
# Import data & libraries #
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
## Python shortcut to folder path ##
path = r'C:\Users\hazem\01-2023 Instacart Basket Analysis - Master Folder'

In [3]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

# Data Wrangling #

In [4]:
df_customers.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [5]:
df_customers.shape

(206209, 10)

In [6]:
df_customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
# Excluding unnecessary columns #
vars_list = ['user_id', 'Gender', 'n_dependants', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'income']

In [8]:
df_customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), usecols = vars_list)

In [9]:
df_customers.shape

(206209, 7)

## Renaming columns ##

In [10]:
df_customers.rename(columns = {'STATE' : 'State'}, inplace = True)

In [11]:
df_customers.rename(columns = {'income' : 'Annual_income'}, inplace = True)

In [12]:
df_customers.rename(columns = {'n_dependants' : 'dependants'}, inplace = True)

In [13]:
df_customers.columns

Index(['user_id', 'Gender', 'State', 'Age', 'date_joined', 'dependants',
       'Annual_income'],
      dtype='object')

## Checking Data type ##

In [14]:
df_customers['user_id'] = df_customers['user_id'].astype('str')

In [15]:
df_customers['user_id'].dtype

dtype('O')

In [16]:
df_customers.describe()

                 Age     dependants  Annual_income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

## Finding missing values ##

In [17]:
df_customers.isnull().sum()

user_id          0
Gender           0
State            0
Age              0
date_joined      0
dependants       0
Annual_income    0
dtype: int64

##No missing value found ##

## Finding duplicate values ##

In [18]:
df_dups = df_customers[df_customers.duplicated()]

In [19]:
df_customers.shape

(206209, 7)

In [20]:
## Dropping duplicate values ##
df_customers = df_customers.drop_duplicates()

##No duplicates found##

# Combine datasets #

In [21]:
## Importing orders_products_merged data set ##
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [22]:
ords_prods_merge.shape

(32404859, 24)

In [23]:
ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day', 'busy_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_of_prior_orders', 'order_frequency_flag'],
      dtype='object')

In [24]:
ords_prods_merge['user_id'].dtype

dtype('int64')

In [25]:
ords_prods_merge['user_id'] = ords_prods_merge['user_id'].astype('str')

In [26]:
ords_prods_merge['user_id'].dtype

dtype('O')

In [27]:
df_customers.columns

Index(['user_id', 'Gender', 'State', 'Age', 'date_joined', 'dependants',
       'Annual_income'],
      dtype='object')

In [28]:
## (Combine df_customers) with (ords_prods_merge) ##
df_insta_merge = pd.merge(ords_prods_merge, df_customers, on = 'user_id', how = 'outer')

In [29]:
df_insta_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day', 'busy_days',
       'busiest_period_of_day', 'max_order', 'loyalty_flag', 'average_price',
       'spending_flag', 'median_of_prior_orders', 'order_frequency_flag',
       'Gender', 'State', 'Age', 'date_joined', 'dependants', 'Annual_income'],
      dtype='object')

In [30]:
df_insta_merge.shape

(32404859, 30)

In [31]:
# export the new merged data set as a pickle file #
df_insta_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'Instacart_merged.pkl'))